hello
<ul>
    <li>
        <a asp-controller="ManageUser" asp-action="Index">Manage Users</a>
    </li>
    <li>
        <a asp-controller="ManageProduct" asp-action="Index">Manage Products</a>
    </li>
    <li>
        <a asp-controller="ManageUser" asp-action="Index">Manage Orders</a>
    </li>
</ul>