<ul>
    <li>
        <a asp-controller="ManageUser" asp-action="Index">View Profile</a>
    </li>
    <li>
        <a asp-controller="Cart" asp-action="Index">View Cart</a>
    </li>
    <li>
        <a asp-controller="Orders" asp-action="Previous">View Orders</a>
    </li>
</ul>